<h1>Propiedades: </h1>

<% if user_signed_in? %>
    <%= link_to 'Agregar Propiedad', new_property_path %>
<% end %>

<%= will_paginate @properties %>

<% @properties.each do |property| %>
  <%= render 'card', property: property %>
<% end %>

<%= will_paginate @properties %>