<% if user_signed_in? %>
  <div>
    <h2>Welcome <%= current_user.email %> to PropiedadesApp!</h2>
    <%= button_to "Cerrar Sesion", destroy_user_session_path, method: "delete" %>
  </div>
<% else %>
    <%= button_to "Ingresar", new_user_session_path %>
<% end %>

<h1>PropiedadesApp!</h1>